<!-- Put your content inside of the <main/> tag -->
<h1 class="text-2xl font-black text-gray-800">Good Morning! {{user.email}}</h1>
<p class="mb-6 text-gray-600">Here's are the games that you can play!</p>
<div class="flex flex-wrap gap-x-4 gap-y-8">
    <div class="h-auto w-full rounded-xl bg-white p-10 shadow-md grid grid-cols-4 gap-4">
        <button onclick="infomodel(1)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 1</span>
        </button>
        <button onclick="infomodel(2)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 2</span>
        </button>
        <button onclick="infomodel(3)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 3</span>
        </button>
        <button onclick="infomodel(4)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl  flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 4</span>
        </button>
        <button onclick="infomodel(5)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 5   </span>
        </button>
        <button onclick="infomodel(6)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 6</span>
        </button>
        <button onclick="infomodel(7)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 7</span>
        </button>
        <button onclick="infomodel(8)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 8</span>
        </button>
        <button onclick="infomodel(9)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 9</span>
        </button>
        <button onclick="infomodel(10)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 10</span>
        </button>
        <button onclick="infomodel(11)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 11</span>
        </button>
        <button onclick="infomodel(12)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 12</span>
        </button>
        <button onclick="infomodel(13)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 13</span>
        </button>
        <button onclick="infomodel(14)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 14</span>
        </button>
        <button onclick="infomodel(15)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 15</span>
        </button>
        <button onclick="infomodel(16)"
            class="p-2 aspect-[4/2] border-2 border-black-300 rounded-lg bg-white shadow-lg hover:shadow-2xl flex flex-col items-center justify-center">
            <span class="text-2xl font-extrabold text-orange-500">Tomato Game 🍅</span>
            <span class="text-sm font-extrabold text-orange-500">Level 16</span>
        </button>



        <!-- model box -->
        <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50 hidden"
            id="modal">
            <div class="absolute top-0 left-0 w-full h-full bg-gray-900 opacity-50"></div>
            <div class="bg-white rounded p-8 shadow-lg z-50">
                <h2 class="text-2xl font-bold mb-4" id="modeltitle"></h2>
                <p id="message"></p>
                <div class="flex items-center justify-between gap-2">
                    <button id="closeModal" onclick="startgame()"
                        class="mt-4 w-full px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">start</button>
                    <button id="closeModal" onclick="closemodel()"
                        class="mt-4 w-full px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Close</button>
                </div>
            </div>
        </div>
        <!-- model end -->
        <script>
            var gamedata = 1
            const modtitle = document.getElementById('modeltitle')
            const modmessage = document.getElementById('message')
            
            function alertbox(atitle, amessage) {
                document.getElementById("modeltitle").innerHTML = atitle;
                document.getElementById("message").innerHTML = amessage;
                document.getElementById("modal").classList.toggle("hidden");
            }

            // set cookie
            function setCookie(name, value, expirationInSeconds, expirationInHours) {
                const expirationDate = new Date();

                if (expirationInSeconds) {
                    expirationDate.setTime(expirationDate.getTime() + expirationInSeconds * 1000); // Convert seconds to milliseconds
                } else if (expirationInHours) {
                    expirationDate.setTime(expirationDate.getTime() + expirationInHours * 60 * 60 * 1000); // Convert hours to milliseconds
                } else {
                    console.error("Please provide either expirationInSeconds or expirationInHours.");
                    return;
                }

                const cookieValue = encodeURIComponent(name) + "=" + encodeURIComponent(value) + "; expires=" + expirationDate.toUTCString() + "; path=/";
                document.cookie = cookieValue;
            }
            // cookie end
            function startgame() {
                console.log(gamedata)
                setCookie("gamelevel", gamedata,null, 2);
                // location.replace("http://127.0.0.1:5500/home.html");
                // location.replace("http://127.0.0.1:5500/test.html");
                location.replace("{% url 'play' %}");
            }

            function infomodel(gamelevel){
                gamedata = gamelevel;
                console.log(gamelevel);
                totalquestions = gamelevel*5;
                totaltime = gamelevel*2;
                alertbox(`You will have ${totaltime} minutes to complete ${totalquestions} questions!!`, "Do you want to start the game");
            }

            function closemodel(gamelevel) {
                // document.getElementById("modal").classList.toggle("hidden");
                // document.getElementById("modal").remove();

                alertbox("", "");

                // location.reload();

            }
            function sidebartoggle() {
                document.getElementById("asidebox").classList.toggle("hidden");
                

                // location.reload();

            }

        </script>
    </div>
    <!-- <div class="h-56 w-full rounded-xl bg-white p-10 shadow-md"></div> -->
</div>